In [1]:
pip install faker

Collecting faker
  Downloading Faker-26.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-26.0.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 26.4 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-26.0.0

In [4]:
import pandas as pd
from faker import Faker
import random

fake = Faker()
num_records = 1000

job_roles = ['Software Engineer', 'Data Scientist', 'Product Manager', 'Sales Executive', 'HR Manager']
departments = ['IT', 'Sales', 'HR', 'Finance', 'Marketing']
performance_ratings = [1, 2, 3, 4, 5]
attrition_status = ['Yes', 'No']
education_levels = ['High School', 'Bachelor\'s Degree', 'Master\'s Degree', 'PhD']
marital_statuses = ['Single', 'Married', 'Divorced', 'Widowed']
job_satisfaction_levels = [1, 2, 3, 4, 5]
work_locations = ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Houston']

# Create a list to hold the data
data = []

# Generate the data
for _ in range(num_records):
    date_of_hire = fake.date_between(start_date='-10y', end_date='today')
    last_promotion_date = fake.date_between(start_date=date_of_hire, end_date='today')
    years_at_company = (pd.Timestamp.today() - pd.to_datetime(date_of_hire)).days // 365
    years_in_current_role = random.randint(0, years_at_company)
    years_since_last_promotion = (pd.Timestamp.today() - pd.to_datetime(last_promotion_date)).days // 365
    years_with_current_manager = random.randint(0, years_at_company)

    # Determine termination date if the employee has left
    if random.choice([True, False]):
        terminate_date = fake.date_between(start_date=date_of_hire, end_date='today')
    else:
        terminate_date = None

    record = {
        'Employee ID': fake.unique.random_number(digits=5, fix_len=True),
        'First Name': fake.first_name(),
        'Last Name': fake.last_name(),
        'Gender': fake.random_element(elements=('M', 'F')),
        'Age': random.randint(20, 60),
        'Job Role': fake.random_element(elements=job_roles),
        'Department': fake.random_element(elements=departments),
        'Salary': random.randint(30000, 120000),
        'Date of Hire': date_of_hire,
        'Performance Rating': fake.random_element(elements=performance_ratings),
        'Attrition': 'Yes' if terminate_date else 'No',
        'Education Level': fake.random_element(elements=education_levels),
        'Marital Status': fake.random_element(elements=marital_statuses),
        'Number of Projects': random.randint(1, 20),
        'Last Promotion Date': last_promotion_date,
        'Work Location': fake.random_element(elements=work_locations),
        'Training Hours': random.randint(0, 100),
        'Overtime': fake.random_element(elements=['Yes', 'No']),
        'Job Satisfaction': fake.random_element(elements=job_satisfaction_levels),
        'Monthly Income': random.randint(2500, 10000),
        'Years at Company': years_at_company,
        'Years in Current Role': years_in_current_role,
        'Years Since Last Promotion': years_since_last_promotion,
        'Years with Current Manager': years_with_current_manager,
        'Number of Training Sessions': random.randint(0, 20),
        'Terminate Date': terminate_date
    }
    data.append(record)

# Create a DataFrame
df = pd.DataFrame(data)

In [5]:
df

,Employee ID,First Name,Last Name,Gender,Age,Job Role,Department,Salary,Date of Hire,Performance Rating,...,Training Hours,Overtime,Job Satisfaction,Monthly Income,Years at Company,Years in Current Role,Years Since Last Promotion,Years with Current Manager,Number of Training Sessions,Terminate Date
0,57255,Lauren,Watson,F,48,Product Manager,HR,107519,2024-01-13,1,...,88,Yes,3,8265,0,0,0,0,18,None
1,92333,Jennifer,Mullins,F,32,HR Manager,Finance,53232,2020-07-27,1,...,61,No,2,9314,4,3,1,0,3,2021-09-17
2,56892,Steven,Mason,F,28,Sales Executive,HR,38065,2019-11-27,1,...,10,No,5,4262,4,4,3,2,9,None
3,50290,James,Powers,F,48,Software Engineer,Sales,108993,2018-08-28,1,...,41,Yes,4,6690,5,2,2,0,13,None
4,67961,Eric,Robertson,M,30,Sales Executive,IT,96737,2015-05-04,1,...,68,No,5,8127,9,0,1,2,8,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,37773,Kathy,Finley,F,57,Data Scientist,HR,35497,2022-04-16,5,...,33,Yes,5,6888,2,2,0,2,5,None
996,21639,Lindsey,Molina,F,42,Sales Executive,HR,60155,2021-12-04,4,...,5,No,4,3250,2,1,0,2,15,2022-12-23
997,18529,Angela,Dean,F,40,Software Engineer,Marketing,100950,2015-02-12,2,...,55,Yes,4,6346,9,9,8,7,7,2021-07-01
998,29185,Cindy,Harding,F,53,Software Engineer,Sales,85041,2017-10-03,2,...,14,No,2,7200,6,3,2,1,16,2024-01-19
999,98950,Gregory,Turner,M,29,Software Engineer,Sales,91431,2017-01-15,1,...,12,No,5,3134,7,0,4,1,1,2020-03-18

In [6]:
# Save the DataFrame to a CSV file
df.to_csv('hr_analytics_data.csv', index=False)

print("HR Analytics data generated and saved to 'hr_analytics_data.csv'")

HR Analytics data generated and saved to 'hr_analytics_data.csv'

In [3]:
df

,Employee ID,First Name,Last Name,Gender,Age,Job Role,Department,Salary,Date of Hire,Performance Rating,Attrition,Education Level,Marital Status,Number of Projects,Last Promotion Date,Work Location,Training Hours,Overtime,Job Satisfaction
0,70159,Carrie,Dodson,F,50,Product Manager,HR,99748,2022-10-19,3,Yes,Bachelor's Degree,Divorced,10,2024-04-01,Chicago,60,No,2
1,25880,Hannah,Costa,M,42,HR Manager,IT,96200,2023-12-05,4,No,Master's Degree,Divorced,5,2024-04-21,New York,70,Yes,5
2,34954,Jesse,Reyes,M,31,Product Manager,HR,116473,2023-03-01,1,No,Master's Degree,Married,17,2023-03-17,Houston,71,Yes,5
3,24271,Taylor,Price,M,42,Product Manager,Sales,70432,2015-05-16,3,No,Bachelor's Degree,Widowed,4,2018-05-15,Houston,44,Yes,2
4,28610,Michael,Howell,F,43,HR Manager,Marketing,57396,2023-02-06,3,Yes,Bachelor's Degree,Married,19,2023-03-13,Los Angeles,85,Yes,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,25197,Nicole,Flores,F,21,Data Scientist,IT,46035,2017-01-11,2,Yes,Master's Degree,Divorced,9,2018-10-31,New York,37,Yes,3
996,61158,Rebecca,Smith,M,44,Product Manager,Finance,39685,2022-07-21,2,No,Master's Degree,Single,20,2022-10-11,San Francisco,68,Yes,1
997,45810,Charles,Nguyen,F,39,Data Scientist,Finance,119870,2015-03-02,2,No,Bachelor's Degree,Widowed,11,2017-01-28,New York,64,Yes,2
998,81986,Sharon,Moore,F,34,Sales Executive,HR,114707,2017-12-06,4,No,PhD,Married,12,2020-06-01,Houston,21,Yes,3
999,54132,Bob,Murphy,M,24,HR Manager,Sales,95853,2019-08-08,1,No,PhD,Married,11,2022-06-14,Houston,50,Yes,2